main .desktop,
main .statusMobile {
  border-radius: 5px;
  background-color: var(--rows-color);
  box-shadow: var(--shadow);
}

ul {
  list-style: none;
}

ul li {
  font-size: 1.3rem;
  color: var(--text-active);
  padding: 1.3rem;
  border-bottom: 1px solid var(--border-color);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul li:hover .iconCross {
  display: block;
}

li .listItem {
  display: flex;
  align-items: center;
  gap: 1.3rem;
}

/* wraps text to fit container width */
li .listItem .description {
  overflow-wrap: anywhere;
}

.completed {
  text-decoration: line-through;
  opacity: 0.4;
}

.iconCross {
  display: none;
  margin-left: 0.7rem;
}

.iconCross:hover {
  cursor: pointer;
}

.listStatus {
  font-size: 0.9rem;
  color: var(--text-inactive);
  padding: 1.5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.status {
  font-weight: 700;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.statusMobile {
  display: none;
}

.active {
  color: var(--bright-blue);
}

.status span:hover,
.statusMobile span:hover {
  cursor: pointer;
  color: var(--text-active);
}

.clear span {
  text-transform: capitalize;
}

.clear span:hover {
  cursor: pointer;
  color: var(--text-active);
}

@media (max-width: 600px) {
  ul li .iconCross {
    display: block;
  }

  li .listItem {
    gap: 0.7rem;
  }

  .status {
    display: none;
  }

  .statusMobile {
    margin-top: 1.438rem;
    padding: 1.5rem;
    font-size: 1rem;
    font-weight: 700;
    color: var(--text-inactive);
    text-transform: capitalize;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
}
