:root {
  --white: #ffffff;
  --text-active: #9799b0;
  --text-inactive: #686a7f;
  --bright-blue: hsl(220, 98%, 61%);
  --background-color: #181824;
  --rows-color: #25273c;
  --border-color: hsl(235, 19%, 35%);
  --bg-image: url("./assets/images/bg-desktop-dark.jpg");

  --color-gradient: linear-gradient(
    90deg,
    rgba(169, 123, 178, 1) 0%,
    rgba(117, 93, 159, 1) 0%,
    rgba(198, 203, 209, 1) 100%,
    rgba(140, 86, 149, 0.9192051820728291) 100%
  );

  --shadow: rgba(0, 0, 0, 0.25) 0 54px 55px, rgba(0, 0, 0, 0.12) 0 -12px 30px,
    rgba(0, 0, 0, 0.12) 0 4px 6px, rgba(0, 0, 0, 0.17) 0 12px 13px,
    rgba(0, 0, 0, 0.09) 0 -3px 5px;
}

.light-mode:root {
  --background-color: #fafafa;
  --rows-color: #fff;
  --border-color: #eeedf1;
  --bg-image: url("./assets/images/bg-desktop-light.jpg");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;

  width: 100vw;
  height: 100vh;
  overflow-x: hidden;

  font-family: "Josefin Sans", sans-serif;
  background: var(--background-color);
  background-image: var(--bg-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover 300px;
  background-position: top;

  display: flex;
  justify-content: center;
}

.wrapper {
  margin: 4.75rem auto auto;
}

footer {
  font-size: 1rem;
  color: var(--text-inactive);
  text-align: center;
  padding: 3rem 0;
}

@media (min-width: 601px) {
  .wrapper {
    width: 33.75rem;
    margin: 4.75rem auto;
  }
}

@media (max-width: 600px) {
  body {
    background-image: var(--bg-image);
    background-size: 100% cover;
  }

  .wrapper {
    min-width: 22.5rem;
    margin: 4.75rem 1rem;
  }
}
