:root {
  /* Primary Colors */

  --white: #fff;
  --bright-blue: hsl(220, 98%, 61%);
  --check-background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); 

  /* Neutral Colors */
  /* Light Theme */

  --very-light-gray: hsl(0, 0%, 98%);
  --very-light-grayish-blue: hsl(236, 33%, 92%);
  --light-grayish-blue: hsl(233, 11%, 84%);
  --dark-grayish-blue: hsl(236, 9%, 61%);
  --very-dark-grayish-blue: hsl(235, 19%, 35%);

  /* Dark Theme */

  --background-color: #181824;
  --rows-color: #25273c;
  --text-inactive: #686a7f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;

  width: 100vw;
  height: 100vh;

  font-family: "Josefin Sans", sans-serif;
  background: var(--background-color);

  display: flex;
  justify-content: center;
}

.wrapper {
  max-width: 33.75rem;
  margin-top: 4.75rem;
}

.title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  color: var(--white);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.313rem;
}

.input-wrapper {
  width: 100%;
  height: 4rem;
  margin: 3.063rem 0 1.438rem 0;

  display: flex;
  align-items: center;
}

/* taken from https://css-tricks.com/inclusively-hidden/ */
/* This will hide the native checkbox */
input[type="checkbox"] {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.input-text {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.375rem;
  color: var(--text-inactive);
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: var(--rows-color);
}
